{% extends "base.html" %}
{% load i18n %}

{% block menu %}
    {% include 'menu.html' with active='lectures' %}
{% endblock %}

{% block content %}
    <div class="">
        <div class="col-md-8 col-md-offset-2 alert alert-success" style="display: none;">
        Čia bus talpinami paskaitų video įrašai ir su paskaitomis susijusi
        medžiaga: kodo pavyzdžiai, nuorodos į literatūros šaltinius,
        laboratorinius darbus ir ne tik.
        </div>

        <div class="col-md-12" style="text-align: center; color: red;">
            <h2>Egzaminas Birželio 2d. 12:00 303 aud.</h2>
        </div>

        <div class="col-md-12" style="text-align: center;">
            <h2>11. Django adminas</h2>
            <p><br/>2014-05-19, <a href="{{ STATIC_URL }}files/11_admin.pdf">paskaitos skaidrės</a></p>
            <div class="col-md-offset-4" style="text-align: left;">
            </div>
        </div>

        <div class="col-md-12" style="text-align: center;">
            <h2>10. Django šablonai</h2>
            <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/7DaUayeSKbE?rel=0" frameborder="0" allowfullscreen></iframe>
            <p><br/>2014-05-12, <a href="{{ STATIC_URL }}files/10_template.pdf">paskaitos skaidrės</a></p>
            <div class="col-md-offset-4" style="text-align: left;">
            </div>
        </div>


        <div class="col-md-12" style="text-align: center;">
            <h2>9. Django kontrolerių lygmuo</h2>
            <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/D3wY8PpyJZY?rel=0" frameborder="0" allowfullscreen></iframe>
            <p><br/>2014-05-05, <a href="{{ STATIC_URL }}files/9_view_layer.pdf">paskaitos skaidrės</a></p>
            <div class="col-md-offset-4" style="text-align: left;">
            </div>
        </div>

        <div class="col-md-12" style="text-align: center;">
            <h2>8. Django modelių lygmuo</h2>
            <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/R0vIqjtigZQ?rel=0" frameborder="0" allowfullscreen></iframe>
            <p><br/>2014-04-28, <a href="{{ STATIC_URL }}files/8_modeliu_lygmuo.pdf">paskaitos skaidrės</a></p>
            <div class="col-md-offset-4" style="text-align: left;">
            </div>
        </div>


        <div class="col-md-12" style="text-align: center;">
            <h2>7. Reguliariosios išraiškos</h2>
            <p><br/>2014-04-07, <a href="{{ STATIC_URL }}files/7_regexp.pdf">paskaitos skaidrės</a></p>
            <div class="col-md-offset-4" style="text-align: left;">
            </div>
        </div>

        <div class="col-md-12" style="text-align: center;">
            <h2>6. Testavimas</h2>
            <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/qcj3aZ6GWyg?rel=0" frameborder="0" allowfullscreen></iframe>
            <p><br/>2014-03-31, <a href="{{ STATIC_URL }}files/6_testavimas.pdf">paskaitos skaidrės</a></p>
            <div class="col-md-offset-4" style="text-align: left;">
            </div>
        </div>

        <div class="col-md-12" style="text-align: center;">
            <h2>5. Mokslinių skaičiavimų bibliotekos</h2>
            <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/QCXMvjym7kk?rel=0" frameborder="0" allowfullscreen></iframe>
            <p><br/>2014-03-24, <a href="{{ STATIC_URL }}files/5_moksliniai_skaiciavimai.pdf">paskaitos skaidrės</a></p>
            <div class="col-md-offset-4" style="text-align: left;">
            </div>
        </div>

        <div class="col-md-12" style="text-align: center;">
            <h2>4. Python klasės ir klaidų apdorojimas</h2>
            <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/ltETeuEw05M?rel=0" frameborder="0" allowfullscreen></iframe>
            <p><br/>2014-03-17, <a href="{{ STATIC_URL }}files/4_classes.pdf">paskaitos skaidrės</a></p>
            <div class="col-md-offset-4" style="text-align: left;">
            </div>
        </div>

        <div class="col-md-12" style="text-align: center;">
            <h2>3. Python objektų tipai ir sakiniai</h2>
            <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/hHpWBRVQVak?rel=0" frameborder="0" allowfullscreen></iframe>
            <p><br/>2014-03-10, <a href="{{ STATIC_URL }}files/3_object_types.pdf">paskaitos skaidrės</a></p>
            <div class="col-md-offset-4" style="text-align: left;">
            </div>
        </div>

        <div class="col-md-12" style="text-align: center;">
            <h2>2. Python kodavimo standartas</h2>
            <iframe width="640" height="360" src="//www.youtube-nocookie.com/embed/-x9i04ie5D8?rel=0" frameborder="0" allowfullscreen></iframe>
            <p><br/>2014-03-03, <a href="{{ STATIC_URL }}files/2_PEP8.pdf">paskaitos skaidrės</a></p>
            <div class="col-md-offset-4" style="text-align: left;">
            <b>Privalomos užduotys</b>:
            <ol>
            <li>Išmokti ir pritaikyti Python kodavimo
            standartą, atliekant <a href="http://hack4.lt/lt/task/python/do/">šią užduotį</a>.</li>
            </ol>
            </div>
        </div>

        <div class="col-md-12" style="text-align: center;">
            <h2>1. Programavimo aplinkos pasiruošimas</h2>
            <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/GRaryf8GSJI?rel=0" frameborder="0" allowfullscreen></iframe>
            <p><br/>2014-02-10</p>
            <div class="col-md-offset-4" style="text-align: left;">
            <b>Privalomos užduotys</b>:
            <ol>
            <li>Pasiruošti programavimo aplinką atliekant <a
                href="http://hack4.lt/lt/task/aplinka/do/">pirmąją užduotį.</a></li>
            </ol>
            <b>Papildomos užduotys</b>:
            <ol>
                <li>Išmokti spausdinti nežiūrint į klaviatūrą. <a
                    href="{{ STATIC_URL }}img/keyboard_layout.png">Taisyklinga rankų padėtis.</a>
            </li>
                <li>Įvaldyti VIM redaktorių.</li>
                <li>Išmokti bazines Linux terminalo komandas.</li>
            </ol>
            </div>
        </div>

    </div>
{% endblock %}
