{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load wysiwyg %}


{% block menu %}
    {% include 'menu.html' with active='profile' %}
{% endblock %}

{% block content %}
    <div class="col-md-9 col-md-offset-2">
        <span style="text-align: center;">
        <h3>{{ object }} <a href="{% url 'profile-edit' %}"><span style="font-size: 16px;"><span class="glyphicon glyphicon-pencil"></span></span></a></h3>
        </span>
        <div style="text-align: center;">
          {% if object.stackoverflow_user and so_user_id %}
          <a href="{{ object.stackoverflow_user }}">
              <img class="img-thumbnail" src="http://stackoverflow.com/users/flair/{{ so_user_id }}.png" width="150">
          </a>
          {% endif %}
        {% for task in tasks_done %}
            {% if task.task.badge %}
                &nbsp; <a href="{{ task.task.badge.url }}"><img class="img-thumbnail" style="height:64px;" src="{{ task.task.badge.url }}"/></a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="col-md-8 col-md-offset-3">
        <ul>
          <li>{% trans 'Got points' %}: <b style="color: rgb(0, 80, 0);">{{ total_points }}</b></li>
          <li>{% trans 'Email' %}: <b>{{ object.email }}</b>
          {% if not object.email_verified %}
          &nbsp;&nbsp; <a class="btn btn-sm btn-warning" href="{% url 'profile-verify-email' %}">{% trans "Verify email" %}</a>
          {% endif %}</li>
            <li>{% trans 'Joined' %}: <b>{{ object.date_joined|date:"Y-m-d" }}</b></li>
          {% if object.repository %}
            <li>{% trans 'Repository' %}: <b>{{ object.repository }}</b></li>
          {% endif %}
          {% if object.website %}
            <li>{% trans 'Website' %}: <b>{{ object.website }}</b></li>
          {% endif %}
          {% if object.description %}
            <li>{% trans 'Description' %}: <b>{{ object.description|safe }}</b></li>
          {% endif %}
        </ul>
    </div>
{% endblock %}
