{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load wysiwyg %}


{% block menu %}
    {% include 'menu.html' with active='profile' %}
{% endblock %}

{% block content %}
    <div class="col-md-9 col-md-offset-2">
        <span style="text-align: center;">
        <h3>{{ object }} <a href="{% url 'profile-edit' %}"><span style="font-size: 16px;"><span class="glyphicon glyphicon-pencil"></span></span></a></h3>
        </span>
        {% for task in tasks_done %}
            {% if task.badge %}
                &nbsp; <a href="{{ task.badge.url }}"><img class="img-thumbnail" style="height:64px;" src="{{ task.badge.url }}"/></a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-8 col-md-offset-3">
        <ul>
          <li>{% trans 'Got points' %}: <b style="color: rgb(0, 80, 0);">{{ total_points }}</b></li>
          <li>{% trans 'Email' %}: <b>{{ object.email }}</b>
          {% if not object.email_verified and False %}
                &nbsp;&nbsp; <a class="btn btn-sm btn-warning" href="verify-email">{% trans "Verify email" %}</a>
          {% endif %}</li>
          <li>{% trans 'Joined' %}: <b>{{ object.date_joined|date:"Y-m-d" }}</b></li>
          <li>{% trans 'Repository' %}: <b>{{ object.description }}</b></li>
          <li>{% trans 'Stackoverflow' %}: <b>{{ object.stackoverflow }}</b></li>
          <li>{% trans 'Website' %}: <b>{{ object.website }}</b></li>
          <li>{% trans 'Description' %}: <b>{{ object.description|safe }}</b></li>
        </ul>
    </div>
{% endblock %}
