{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load wysiwyg %}


{% block menu %}
    {% include 'menu.html' with active='tasks' %}
{% endblock %}

{% block content %}
    <div class="col-md-9 col-md-offset-2">
        <h3>{{ object }} <a href="{% url 'profile-edit' %}"><span class="glyphicon glyphicon-pencil" style="color:black;"></span></a></h3>
        {% for task in tasks_done %}
            {% if task.badge %}
                &nbsp; <a href="{{ task.badge.url }}"><img class="img-thumbnail" style="height:64px;" src="{{ task.badge.url }}"/></a>
            {% endif %}
        {% endfor %}
        <ul>
        <li>{% trans 'Joined:' %} {{ object.date_joined|date:"Y-m-d" }}</li>
        <li>{% trans 'Got points:' %} <b style="color: rgb(0, 128, 0);">{{ total_points }}</b></li>
        <li>{% trans 'Repository:' %} {{ object.description|safe }}</li>
        <li>{% trans 'About me:' %} {{ object.description|safe }}</li>
        </ul>
    </div>
{% endblock %}
