{% extends "base.html" %}
{% load i18n %}
{% load value from utils %}

{% block menu %}
    {% include 'menu.html' with active='tasks' %}
{% endblock %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <h2>Užduotys</h2>
        <ul class="tasks">
        {% for task in object_list %}
        <li class="{% if task.pk in tasks_done.keys %}done{% endif %}"
        style="padding-bottom:15px;"><span style="font-size:18px;"><b>
                <a href="{% url 'do-task' task.slug %}">{{ task.title }}</a>
                {% if user.is_superuser %}
                &nbsp;<a href="{% url 'update-task-info' task.pk %}">
                    <span class="glyphicon glyphicon-pencil" style="color:black;"></span></a>
                {% endif %}
            </b>
            <span style="font-size:16px;">
            &nbsp;&nbsp;<br/>Atlygis:
            {% if task.points %}
                <span style="color: rgb(0, 128, 0);">
                {% if task.pk in tasks_done.keys and tasks_done|value:task.pk %}
                    <b>{{ tasks_done|value:task.pk }}</b> /
                {% endif %}
                {{ task.points }}</span>
            {% endif %}
            {% if task.extra_points %}
            <span style="color: rgb(0, 128, 0);"><sup><b>+{{ task.extra_points }}</b></sup></span>
            {% endif %}
            {% if task.badge %}
                &nbsp; <img class="img-thumbnail" height="34px" src="{{ task.badge.url }}"/>
            {% endif %}
            {% if task.deadline %}
                &nbsp;&nbsp;Galioja iki: <span style="color: rgb(170, 0, 0);">{{ task.deadline|date:"Y-m-d"}}</span></span>
            {% endif %}
            </span>
        </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
