{% extends "base.html" %}
{% load i18n %}
{% load value from utils %}

{% block menu %}
    {% include 'menu.html' with active='tasks' %}
{% endblock %}

{% block content %}
    <div class="col-md-8 col-md-offset-2 small-spacing">
        Idėjų temoms galima pasisemti iš:
        <ul>
            <li><a href="http://resrc.io/list/10/list-of-free-programming-books/#python">atvirų Python programavimo knygų</a></li>
        </ul>
        Rekomenduojamos temos:
        <ol>
        {% for topic in object_list %}
        <li class="" style="padding-bottom:15px;">
            <b>{{ topic.title }}</b> ({{ topic.tags }})<br/> {{ topic.description }}
        </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
