{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block menu %}
    {% include 'menu.html' with active='login' %}
{% endblock %}

{% block content %}
    <div class="col-md-5 col-md-offset-3 small-spacing">
        <form action="{% url 'reset-password-email' %}" method="post">{% csrf_token %}
            <div class="alert alert-success">{% trans "Email with password recovery details will be sent to your email." %}</div>
            {% bootstrap_form form %}
            {% buttons %}
            <input class="btn btn-primary" type="submit" value="{% trans "Recover password" %}" />
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
